/ticketfx/target/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_Alvarez/build/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_Alvarez/nbproject/private/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezAbstraccion/build/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezAbstraccion/nbproject/private/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezHerencia/build/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezHerencia/nbproject/private/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezModular/build/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezModular/nbproject/private/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezPolimorfismo/build/
/EJERCICIOSJAVA/SEMANA2/AlvarezRodolfo_Tarea02/deberProgra_AlvarezPolimorfismo/nbproject/private/
/consolidado/nbproject/private/
/consolidado/build/
/Consolidado/nbproject/private/
/Consolidado/build/
/completo/nbproject/private/
/completo/build/
/facturadetalle/nbproject/private/
/facturadetalle/build/
/completo/dist/
/prueba/nbproject/private/
/prueba/build/
/facturadetalle/dist/
/TicketFx/nbproject/private/
/Ayuda/nbproject/private/
/Ayuda/dist/
/Ayuda/build/
/Ayuda - copia/nbproject/private/
/ayudat/target/